//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 06 18:26:43 2015
//! **************************************************************************

SCHEMATIC START;
COMP "RX" LOCATE = SITE "A3" LEVEL 1;
COMP "TX" LOCATE = SITE "B3" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "N9" LEVEL 1;
COMP "RESET" LOCATE = SITE "H4" LEVEL 1;
SCHEMATIC END;

