NET "CLK"  	 LOC = "C10"		| IOSTANDARD = LVCMOS33;
NET "RESET"  LOC = "H4" 	| IOSTANDARD = LVCMOS33;
NET "TX"		 LOC = "B3"  	| IOSTANDARD = LVCMOS33;
NET "RX" 	 LOC = "A3"		| IOSTANDARD = LVCMOS33;
NET "LED" 	 LOC = "D14"   | IOSTANDARD = LVCMOS33;	
#NET "pin_check" LOC = "A8"   | IOSTANDARD = LVCMOS33;	